name: Generate Commit Snake

on:
  # Run automatically every 24 hours at midnight UTC
  schedule:
    - cron: "0 0 * * *"  # Runs at midnight UTC every day

  # Allows manual triggering of the job at any time
  workflow_dispatch:

  # Run on every push to the master branch
  push:
    branches:
      - master

jobs:
  generate:
    permissions:
      contents: write  # Grant write permissions to modify repository content
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      # Step 1: Generate the commit snake animation (SVG)
      - name: Generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: Its-Satyajit  # Your GitHub username
          github_token: ${{ secrets.PROFILE_TOKEN }}
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      # Step 2: Push the generated images to the output branch
      - name: Push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output  # Push images to the 'output' branch
          build_dir: dist         # Directory where SVG files are stored
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Automatically available token
